@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

.max-content-width {
    max-width: 1100px;
    width: 100%;
    padding: 1rem;
}

h1, h2, p, li, a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.header, .hero {
    color: #f9faf8;
}

.sub-text {
    color: #d3d5da;  
}

header, .hero, .content, .quote, .cta {
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 5px;
    color: #f9faf8;
}

header {
    background-color: #1f2937;
    padding: 1rem 0;
}

.hero {
    background-color: #1f2937;
    padding: 5rem 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #f9faf8;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    color: #d3d5da;
}

.hero > div {
    display: flex;
    gap: 3rem;
}

.hero > div > * {
    flex: 1;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    font-size: 1rem;
}

.img-placeholder {
    height: 100%;
    width: auto;
    background-color: #636971;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-placeholder > p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.content {
    padding: 2rem;
}

.content > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content .max-content-width {
    max-width: 850px;   
}

.content h2 {
    font-size: 36px;
    font-weight: 900;
}

.content-items {
    display: flex;
    gap: 3rem;
}

.square {
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid #3882f6;
    border-radius: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p {
    color: rgba(0, 0, 0, 0.5);
}

.quote {
    padding: 3rem;
    background-color: #e5e7eb;
}

.quote .max-content-width {
    max-width: 800px;
}

.quote > div {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}